<!-- <!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>inHarmony - Component</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>   
        <div style="text-align: left;">
            <a routerLink="/" routerLinkActive="active" class="logo"> Home </a>
        </div>
        
        <div *ngIf="loginService.loggedIn" style="text-align:right;">
            <button routerLink="/profile" routerLinkActive="active" class="btn btn-warning"> Profile </button>
            <button routerLink="/" routerLinkActive="active" class="btn btn-warning" (click)="logout()"> Log Out </button>
        </div>

    </header> -->

    <h1> inHarmony - Share Your Music With Friends and New Fans </h1>
    <div *ngIf="loginService.loggedIn; else elseBlock">
        <h1> Welcome, {{loginService.loggedInUser.userName}}</h1>
        <h4> You are logged in </h4>
    
        <div style="text-align:center;">
            <button routerLink="/profile" routerLinkActive="active" class="btn btn-warning"> My Profile </button>
        </div>
    </div>

    
<ng-template #elseBlock>
    <h4>You are logged out</h4>
    <div style="text-align:center;">
        <button routerLink="/registration" routerLinkActive="active" class="btn btn-warning"> Register </button>
        <button routerLink="/login" routerLinkActive="active" class="btn btn-warning"> Log In </button>
    </div>
</ng-template>
    
    <router-outlet></router-outlet>

    <!-- Ask Ryan - Can't figure out how to make this stick at the bottom
    <footer>Bye</footer>
    -->
<!-- </body>
</html>  -->