<div *ngIf="loginService.loggedIn; else elseBlock">
	<h1> Welcome, {{loginService.loggedInUser.userName}}</h1>
    <h4> You are logged in </h4>

    <div style="text-align:center;">
        <button routerLink="/profile" routerLinkActive="active" class="btn btn-warning"> My Profile </button>
    </div>
</div>

<ng-template #elseBlock>
    <h4>You are logged out</h4>
    <div style="text-align:center;">
        <button routerLink="/registration" routerLinkActive="active" class="btn btn-warning"> Register </button>
        <button routerLink="/login" routerLinkActive="active" class="btn btn-warning"> Log In </button>
    </div>
</ng-template>

<button (click)="test()"> TEST </button>

<div style="text-align: center;">
    <button class="btn btn-success" (click)="testSpotify2()"> Spotify Login </button>
</div>

<app-song-summary [song]="homepageSong"></app-song-summary>

<span>
    <form (ngSubmit)="search()">
        <input type="text" placeholder="Search original songs by lyrics" name="query" [(ngModel)]="query">
        <button type="submit" class="btn btn-warning"> Search </button>
    </form>
</span>

<!--
<h2 style="margin: 40px;"> Best Songs Ever </h2>

<span>
    <button class="w3-button w3-black w3-display-left" (click)="getPrevBannerSong()">&#10094;</button>
    <app-song-summary [song]="homepageSong"></app-song-summary>
    <button class="w3-button w3-black w3-display-right" (click)="getNextBannerSong()">&#10095;</button>
</span>

<app-track-list (foundSongId)="displaySong($event)" (allSongIds)="setBannerSongs($event)"></app-track-list>
-->
<span>
    <form (ngSubmit)="userSearch()">
        <input type="text" placeholder="Search users" name="userquery" [(ngModel)]="userquery">
        <button type="submit" class="btn btn-warning"> Search </button>
    </form>
</span>

<!--
<div>
    <button (click)="testGenius()"> Test Genius</button>
    <button (click)="testGenius2()"> Part 2 </button>
</div>
-->

<iframe src="https://open.spotify.com/embed/track/5PGo11SpjSti3e6qi3CItZ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
artist/12Chz98pHFMPJEknJQMWvI
album/4ovjS3yvn1WNjtrUQWwlnd
track/5PGo11SpjSti3e6qi3CItZ