
<h1>Share Your Music With Friends and New Fans </h1>


<!-- <button (click)="test()"> TEST </button> -->

<div style="text-align: center;">
    <button class="btn btn-success" (click)="testSpotify2()"> Spotify Login </button>
</div>

<ol class="breadcrumb">
    <li>Find Your Next Favorite Song</li>
    <li class="breadcrumb-item">
        <form (ngSubmit)="search()" class="input-group">
            <input type="text" class="form-control" placeholder="Search by lyrics" name="query" [(ngModel)]="query">
            <span class="inpug-group-append">
             <button class="btn btn-secondary" type="submit">Search</button>
            </span>
        </form>
    </li>
    <li>
        <form (ngSubmit)="userSearch()" class="input-group">
            <input type="text" class="form-control" placeholder="Search users" name="userquery" [(ngModel)]="userquery">
            <span class="inpug-group-append">
             <button class="btn btn-secondary" type="submit">Search</button>
            </span>
        </form>
    </li>
    
    <li *ngIf="loginService.loggedIn; else elseBlock">
        <button routerLink="/profile" routerLinkActive="active" class="btn btn-primary"> My Profile </button>
    </li>

    <ng-template #elseBlock>
        <li><button routerLink="/registration" routerLinkActive="active" class="btn btn-primary"> Register </button></li>
        <li><button routerLink="/login" routerLinkActive="active" class="btn btn-primary"> Log In </button></li>
    </ng-template>
  </ol>
<!-- <div class="card mb-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <form (ngSubmit)="search()" class="input-group">
            <input type="text" class="form-control" placeholder="Search by lyrics" name="query" [(ngModel)]="query">
            <span class="inpug-group-append">
             <button class="btn btn-secondary" type="submit">Go!</button>
            </span>
        </form>
      </div>
    </div>
  </div> -->
<!-- <span>
    <form (ngSubmit)="search()">
        <input type="text" placeholder="Search original songs by lyrics" name="query" [(ngModel)]="query">
        <button type="submit" class="btn btn-warning"> Search </button>
    </form>
</span> -->

<!-- <div class="card mb-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <form (ngSubmit)="userSearch()" class="input-group">
            <input type="text" class="form-control" placeholder="Search users" name="userquery" [(ngModel)]="userquery">
            <span class="inpug-group-append">
             <button class="btn btn-secondary" type="submit">Search</button>
            </span>
        </form>
      </div>
    </div>
  </div> -->
<!-- <span>
    <form (ngSubmit)="userSearch()">
        <input type="text" placeholder="Search users" name="userquery" [(ngModel)]="userquery">
        <button type="submit" class="btn btn-warning"> Search </button>
    </form>
</span> -->


<h2 style="margin: 40px;"> Top 5 Played Songs Ever </h2>


<span *ngIf="selectedSong">
    <!-- <button class="w3-button w3-black w3-display-left" (click)="getPrevBannerSong()">&#10094;</button> -->
    <app-song-summary [song]="selectedSong"></app-song-summary>
    <!-- <button class="w3-button w3-black w3-display-right" (click)="getNextBannerSong()">&#10095;</button> -->

    
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link"(click)="getPrevBannerSong()">&larr; Previous Song</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="getNextBannerSong()">Next Song &rarr;</a>
        </li>
    </ul>
</span>






<!-- We need this ngIf to prevent the component loading before songIn is initialized -->
<div *ngIf="songIn.length > 0">
    <!-- <div class="jumbotron"> -->
        <app-track-list [songIn]="songIn" (foundSongIndex)="displaySong($event)"></app-track-list>
    <!-- </div> -->
</div>