<span>
    <form (ngSubmit)="search()">
        <input type="text" placeholder="Search by lyrics" name="query" [(ngModel)]="query">
        <button type="submit" class="btn btn-warning"> Search </button>
    </form>
</span>

<div *ngIf="songSelected">
    <button class="w3-button w3-black w3-display-left" (click)="getPrevBannerSong()">&#10094;</button>
    <app-song-summary [song]="selectedSong"></app-song-summary>
    <button class="w3-button w3-black w3-display-right" (click)="getNextBannerSong()">&#10095;</button>
</div>

<app-track-list [search]="query" (foundSongId)="displaySong($event)" (allSongIds)="setBannerSongs($event)"></app-track-list>