<div>
    <table class="table" mdbTable>
        <thead>
            <tr>
                <th></th> <!-- Album image -->
                <th>Title</th>
                <th>Artist</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr mdbTableCol *ngFor="let s of songs; let o = odd; let i = index;" [ngClass]="{oddRow: o}" (click)="emitSongIndex(i)">
                <td> <img width="80px" height="80px" src={{s.albumUrl}}/> </td>
                <td > {{s.title}} </td>
                <td> {{s.artistName}} </td>
                <td> {{s.genre}} </td>
            </tr>
        </tbody>
    </table>
</div>