<div>
    <table class="table" mdbTable>
        <thead>
            <tr>
                <th></th> <!-- Album image -->
                <th>Title</th>
                <th>Artist</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr mdbTableCol *ngFor="let s of songs; let o = odd;" [ngClass]="{oddRow: o}" (click)="displaySong(s)">
                <td> <img width="80px" height="80px" src={{s.albumURL}}/> </td>
                <td > {{s.name}} </td>
                <td> {{s.artist}} </td>
                <td> {{s.genre}} </td>
            </tr>
        </tbody>
    </table>
</div>