<div class="songDescription">    <!-- Not sure why the class isn't applying the color -->
    <!-- We need this div to prevent the contents from loading before the song is fetched from the database.
           It still works without it, but we get a console error -->
    <div *ngIf="song">
        <p style="color: black; min-height: 300px; font: 30px bold;">
            <!--
            <img width="300px" height="300px" src={{song.albumURL}} style="float: left;"/>
            <iframe width="500px" height="300px" [src]='getYoutubeURL()' frameborder="0" style="float: right;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            -->

            <!-- ngIf Soundcloud, ngElse Spotify -->
            <span *ngIf="song.isOriginal; else elseblock">
                <iframe width="500px" height="300px" scrolling="no" frameborder="no" allow="autoplay" style="float: right;" [src]="getURL()"></iframe>
            </span>
            <ng-template #elseblock>
                <iframe [src]="getSpotifyURL()" style="float: right;" width="500px" height="300px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </ng-template>

            Title: {{song.title}}<br/>
            Artist: {{song.artistName}}
            <span *ngIf="song.album"><br/>Album: {{song.album}}</span><br/>
            Genre: {{song.genre}}
            <span *ngIf="song.year"><br/>Year: {{song.year}}</span><br/>
            Plays: {{song.numberOfPlays}}<br/>
            <span *ngIf="song.lyrics"><button class="btn btn-success" (click)="showLyrics()"> Lyrics </button></span>
        </p>
        <!-- Check if the song is already added -->
        <div *ngIf="loginService.loggedIn && !isFavourite && !(song.artistName == loginService.loggedInUser.userName)">
            <button class="btn btn-primary" (click)="addToFavourites()">Add to Favourites</button>
        </div>
    </div>
</div>

<div *ngIf="lyrics">
    <div class="lyrics" style="white-space: pre-line">
        <p>{{song.lyrics}}</p>
    </div>
</div>