/* You can add global styles to this file, and also import other style files */

:root {
    --colorMain: #58427c;
    --colorWhite: #ffffff;
    --colorBase: #502989;
    --color2nd: #693699;
    --color3rd: #7c40a9;
    --colorLight: #9570dd;
    --colorBright: #9f05c5;
    --colorTrue: #730c99;
    --link: #bb6abb;
    --hover: #ff3dfe;
}

body, html {
    height: 100%;
}

body {
    background: url(https://www.psdgraphics.com/file/2018/futuristic-purple-wallpaper.jpg) no-repeat center center fixed;
    background-color: #010127;
    background-size: 105%;
    color: #ffffff;
    padding-top: 56px;
}

content {
    margin: 10px auto;
    width: 95%;
    display: block;
    min-height: 82%;
}

iframe{
    width: 100%;
    min-height: 300px;
}

a {
    color: var(--link);
}
a:hover {
    color: var(--hover);
}
.bg-dark {
    background-color: var(--colorMain)!important;
}

.breadcrumb {
    background-color: var(--color3rd);
    color: var(--colorWhite);
}
  
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
.portfolio-item {
    margin-bottom: 30px;
}

/* Buttons */
.btn-primary {
    color: var(--colorWhite);
    background-color: var(--colorTrue);
    border-color: var(--colorBright);
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
    color: var(--colorWhite);
    background-color: var(--colorBase);
    border-color: var(--colorMain);
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--link);
}
.page-link:hover {
    z-index: 2;
    color: var(--link);
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.jumbotron {
    background-color: light-gray;
    color: var(--colorMain);
}


/* Messages */
.message {
    color: var(--colorMain);
}

.message-friend h5 {
    color: var(--colorBright);
}

.message-you h5 {
    color: gray;
}



/* Sidebar */
.card-header {
    color: var(--colorMain);
}
.card-body {
    color: black;
}

.breadcrumb li {
    margin: 0px 30px;
}

/* Login Page */
app-location, .login {
    max-width: 300px;
    display: block;
    margin: 30px auto;
}

form button {
    color: var(--colorWhite);
    background-color: var(--colorTrue);
    border-color: var(--colorBright);
}

form button:hover {
    color: var(--colorWhite);
    background-color: var(--colorBase);
    border-color: var(--colorMain);
}

.oddRow {
    background-color: gray;
}
